   <style>
      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #B1B0B0;
        }
        header {
            background-color: #4A5981; 
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        nav {
            float: left;
            width: 200px;
            background-color: #4A5981;
            padding: 20px;
        }
        main {
            margin-left: 220px;
            padding: 20px;
        }
        footer {
            clear: both;
            background-color: #4A5981; 
            color: #fff;
            text-align: center;
            padding: 10px;
        }
    </style>
