body {
  font-family: Arial, sans-serif;
  background: linear-gradient(-180deg, #221d1d 0%, hsl(240, 93%, 34%) 100%);
  margin: 0;
  text-align: center;
  color: white;
  padding: 0;
  height: 100vh;
 }

.header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  border-bottom: 2px solidblack;
  padding: 20px 0;
  
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.botoes{
  text-align: left;
}

main {
  align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;

}

.image {
    width: 200px;
    height: 200px;
    margin: 10px; 
}

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}0

.sayuri img{
  width: 175px;
  height: 218px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
}

.pessoas{
  text-align: center;
}

.pietro img{
  text-align: center;
  width: 175px;
  height: 218px;
  border-radius: 15px;
}

.eric img{
  width: 150px;
  height: 220px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
}

.gabriel img{
  width: 150px;
  height: 220px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
}

.login {
  top: 70%;
  position: fixed;
  text-align: left;
}
.titulo{
  margin-top: 14%;
}



