body {
    font-family: Arial, sans-serif;
    background-color: #b1b0b0;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
    padding: 0;
    height: 100vh;
}

.header {
    background-color: #4a5981;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    border-bottom: 2px;
    padding: 0px 0;

}

.header h1 {
    font-size: 40px;
}
.header p{
    margin-top: 0;
    font-size: 20px;
}

.Login {
    position: fixed;
    left: 15px;
    top: 100px;
    display: flex;
    z-index: 1;
}

.Login a {
    color: black;
    text-decoration: none;

}

.Login-imagem {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 1;
}

.coluna-azul {
    position: fixed;
    background-color: #4a5981;
    top: 0;
    padding: 20px;
    width: 120px;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    height: 50px;
}

main {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.pessoas {
    text-align: center;
}

.sayuri {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.pietro {
    text-align: center;
    width: 150px;
    height: 220px;
    border-radius: 15px;
}

.eric {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.gabriel {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.Botoes {
    position: fixed;
    left: 5px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    color: #333;
}

.Botoes a {
    color: black;
    text-decoration: none;
    padding-left: 30px;
    font-size: 16px;
}

.estudantes {
    margin-top: 50pxpx;
    display: grid;
    grid-template-columns: 35% 35% 35% 35%;
}

.estudantes p {
    font-size: 24px;
}

.instagram {
    margin-top: 5px;
}

.texto {
    margin-top: 200px;
}
