body {
    font-family: Arial, sans-serif;
    background-color: #b1b0b0;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
    padding: 0;
    height: 100vh;
    transition: none;
}

header {
    background-color: #4a5981;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    border-bottom: 2px;
    padding: 0px 0;

}

header h1  {
    font-size: 40px;
}

header p {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
}

.Login {
    position: absolute;
    left: 15px;
    top: 100px;
    display: flex;
    z-index: 1;
}

.Login a {
    color: black;
    font-weight: bolder;
    text-decoration: none;

}


.Login-imagem {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 1;
}

.coluna-azul {
    position: fixed;
    background-color: #4a5981;
    top: 0;
    padding: 20px;
    width: 120px;
    height: 100vh;

}

.Cores-Temas {
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 550;
}

input[type="radio"] {
    cursor: pointer;
    transform: scale(2); 
    margin: 10px; 
    margin-right: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 50px;
}

main {
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.pessoas {
    text-align: center;
}

.sayuri {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.pietro {
    text-align: center;
    width: 150px;
    height: 220px;
    border-radius: 15px;
}

.eric {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.gabriel {
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.Botoes {
    position: absolute;
    left: 5px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
}

.Botoes a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding-left: 30px;
    font-size: 16px;
}

.estudantes {
    margin-top: 50px;
    display: inline-flex;
    gap: 100px;
    grid-template-columns: 35% 35% 35% 35%;
}

.estudantes p {
    font-weight: 700;
    font-size: 24px;
}

.Estudantes-Mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.Estudantes-Mobile p {
    font-weight: 700;
}

.section-cima {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.Sayuri-Mobile {
    margin-right: 50px;
}

.section-baixo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
}

.Gabriel-Mobile {
    margin-right: 60px;
}

.instagram {
    margin-top: 5px;
}

.texto {
    margin-top: 200px;
}

.texto p {
    font-weight: 600;
}

@media (max-width: 1340px) {
    .coluna-azul {
        display: none;
    }
}

@media (max-width: 960px) {

    .Login-imagem {
        left: 10px;
        width: 70px;
    }

    .Login {
        left: -17px;
        top: 65px;
    }

    .header h1 {
        margin-left: -15px;
        font-size: 32px;
        margin-bottom: 0;
    }

    .header p {
        font-weight: 700;
        margin-left: -5px;
        margin-bottom: 20px;
    }

    .estudantes {
        display: none;
    }

    .Estudantes-Mobile {
        display: flex;
    }

     h1 {
        font-weight: 700;
    }

    .Botoes {
        right: 5px;
        top: 40px;
        left: auto;
    }

    .texto {
        margin-top: 100px;
        padding-bottom: 50px;
    }


    footer {
        width: 94.8%;
        position: inherit;
    }
}
