*{
    margin:0;
    padding:0;
}

.cabecalho {
    background-color:#4A5981;
    color: black;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:80px;

}

.cabecalho-Imagem{
    width:108px ;
    height:113px; 
}

 .cabecalho-titulo{
    width:483px;
    height: 77px;
 }
