body {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-color: #b1b0b0;
    font-family: Arial, sans-serif;
    transition: none;
}


.header {
    text-align: center;
    padding: 20px;
    background-color: #4a5981;
    width: 100%;
    box-sizing: border-box;
}

.Login {
    position: fixed;
    left: 55px;
    top: 120px;
    display: flex;
    z-index: 1;
}

.Login a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.Login a:hover {
    color: #b1b0b0;
    transform: translateY(-5px);
    transition: 0.5s;
}

.Robo {
    position: absolute;
    bottom: 50px;
    left: 175px;
    width: 100px;
    height: auto;
    z-index: 1;
}


.Login-imagem {
    position: fixed;
    top: 10px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 1;
}

.lampada {
    position: absolute;
    top: 150px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 1;
}

img {
    width: 32px;
    height: 32px;
}

.coluna-azul {
    position: fixed;
    background-color: #4a5981;
    top: 0;
    padding: 20px;
    width: 120px;
    height: 100vh;

}

.Localizacao-total {
    font-size: 24px;
    position: fixed;
    top: 34%;
    right: 11%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-weight: 600;
}

.localizacao {
    position: fixed;
    top: 40%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 250px;
    height: 650px;
    border-radius: 15px;
}

iframe:hover {
    scale: 1.06;
    transition: 0.5s;
}

.localizacao iframe {
    border-radius: 10px;
    margin-top: 25px;
}

.texto {
    position: fixed;
    top: 20%;
    left: 35%;
    width: 70%;
    max-width: 600px;
    margin-top: 0;
    font-size: 24px;

}

.Botoes {
    position: fixed;
    left: 5px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: #333;
    font-weight: 600;
}

.Botoes a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.Botoes a:hover {
    color: #b1b0b0;
    transform: translateY(-5px);
    transition: 0.5s;
}

.Cores-Temas {
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 550;
}

input[type="radio"] {
    cursor: pointer;
    transform: scale(2); 
    margin: 10px; 
    margin-right: 40px;
}

.titulo {
    text-align: center;
    padding: 20px;
    font-size: 24px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1621px) {
    .localizacao, .Localizacao-total {
        display: none;
    }
}

@media (max-width: 1028px) {
    .coluna-azul {
        display: none;
    }

    .Login-imagem {
        width: 60px;
        left: 320px;
    }

    .Login a {
       position: fixed;
       left: 325px;
       top: 80px;
   }

    .Botoes {
        align-items: end;
        right: 5px;
        bottom: 50px;

    }

    .Robo {
        left: 5px;
    }

    .localizacao {
        display: none;
    }

    .Localizacao-total {
        display: none;
    }

    .texto {
        font-size: 16px;
        left: 5px;
    }
}
