body {
    margin: 0; 
    padding: 0; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #b1b0b0; 
    font-family: Arial, sans-serif;
}


.header {
    text-align: center; 
    padding: 20px; 
    background-color: #4a5981;  
    width: 100%; 
    box-sizing: border-box;
}

.Login {
    position: fixed;
    left: 30px;
    top: 100px;
    display: flex;
    color: #333;
    z-index: 1;
}


.Login-imagem {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 1;
}

.coluna-azul {
    position: fixed;
    background-color: #4a5981;
    top: 0;
    padding: 20px;
    width: 120px;
    height: 100vh;
    
}

.texto {
    text-align: center; 
    position: fixed;
    top: 200px;
    left: 250px;
    width: 70%;
    max-width: 600px;
    margin: 0;
    font-size: 24px; 
       
}

.Botoes {
    position: fixed;
    left: 5px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: #333;
  }



.titulo {
   text-align: center;
   padding: 20px;
   font-size: 16px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
